:root {
  /* --pomodoro: rgb(217, 85, 80); */
  /* --shortBreak: rgb(76, 145, 149); */
  /* --longBreak: rgb(69, 124, 163); */
  --pomodoro: #ff6961;
  --shortBreak: #4c9195;
  --longBreak: #457ca3;
  --font-clr: #ffffff;
  --timer-bg: #ffffff1a;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  background-color: var(--pomodoro);
  /* font-family: 'Source Sans Pro', sans-serif; */
  font-family: Arial, Helvetica, sans-serif;
  transition: 1s ease;
  user-select: none;
}

progress {
    border-radius: 2px;
    width: 100%;
    height: 12px;
    position: fixed;
    top: 0;
}

progress::-webkit-progress-bar {
    background-color: rgba(0, 0, 0, 0.1);
}

progress::-webkit-progress-value {
    background-color: #fff;
}

.timer {
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 0;
  text-align: center;
  background-color: var(--timer-bg);
  border-radius: 10px;
}

.mode-button {
  border: none;
  background: none;
  color: var(--font-clr);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.active {
  background-color: rgba(0, 0, 0, 0.2);
}

.clock {
  font-size: 10rem;
  color: var(--font-clr);
  font-weight: 600;
  display: flex;
  justify-content: center;
  transition: 1s ease;
}

.main-button {
  cursor: pointer;
  box-shadow: rgb(235, 235, 235) 0px 6px 0px;
  font-size: 22px;
  height: 55px;
  text-transform: uppercase;
  color: var(--pomodoro);
  font-weight: bold;
  width: 200px;
  background-color: var(--font-clr);
  border-width: initial;
  border-style: none;
  margin: 20px 0px 0px;
  padding: 0px 12px;
  border-radius: 4px;
  transition: color 0.5s ease-in-out 0s;
}

.main-button.active {
  transform: translateY(6px);
  box-shadow: none;
  outline: none;
}
